@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .truncate-text-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}

@font-face {
  font-family: "Athelas";
  src: url("/fonts/Athelas-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
}
